.footer{
    margin: 100px 100px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        .top{
            display: flex;
            justify-content: space-between;
            span{
                text-align: center;
            }
        }
        .bottom{
            display: flex;
            justify-content: space-between;
        }
    }
}