.congrats{
    .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        .top{
            img{
                width: auto;
                height: 400px;
            }
        }
        .bottom{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }
}